<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Korean Grammar Checker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <style>
      #highlighted-text span {
        padding: 2px 0;
        border-radius: 3px;
      }
      #highlighted-text span:hover {
        opacity: 0.7;
      }
    </style>
  </head>
  <body>
    <h1>Korean Grammar Checker</h1>
    <textarea id="input-text" rows="10" cols="50"></textarea>
    <button id="check-grammar">Check Grammar</button>
    <div id="results"></div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
